In [1]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

### 1. How many students are there?

In [2]:
len(students)

14

### 2. How many students prefer light coffee? For each type of coffee roast?

In [3]:
total_light_coffee = 0
for student in students:
    if student['coffee_preference'] == 'light':
        total_light_coffee += 1
total_light_coffee

3

In [4]:
coffee_preference = [student['coffee_preference'] for student in students]
coffee_count = {coffee:coffee_preference.count(coffee) for coffee in coffee_preference}
coffee_count

{'light': 3, 'medium': 6, 'dark': 5}

### 3. How many types each pet are there?

In [5]:
student_pets = [student['pets'] for student in students]
pets = []
for student in student_pets:
    for pet in student:
        pets.append(pet['species'])
pet_counts = {pet:pets.count(pet) for pet in pets}
pet_counts

{'horse': 4, 'cat': 11, 'dog': 3}

### 4. How many grades does each student have? Do they all have the same number of grades?

In [6]:
for student in students:
    print(student['grades'])
    print(f"Length = {len(student['grades'])}")
    
## Yes, they all have 4 grades.

[70, 91, 82, 71]
Length = 4
[75, 73, 86, 100]
Length = 4
[70, 89, 69, 65]
Length = 4
[73, 66, 83, 92]
Length = 4
[78, 98, 85, 65]
Length = 4
[76, 70, 96, 81]
Length = 4
[69, 94, 89, 86]
Length = 4
[87, 79, 90, 99]
Length = 4
[74, 99, 93, 89]
Length = 4
[82, 92, 91, 65]
Length = 4
[70, 92, 65, 99]
Length = 4
[100, 86, 91, 87]
Length = 4
[80, 70, 68, 98]
Length = 4
[73, 99, 86, 98]
Length = 4

### 5. What is each student's grade average?

In [7]:
for student in students:
    grades = student['grades']
    average_grade = 0
    for grade in grades:
        average_grade = average_grade + grade
    average_grade = average_grade / len(grades)
    print(f"{student['student']}'s average grade is: {average_grade}")

Ada Lovelace's average grade is: 78.5
Thomas Bayes's average grade is: 83.5
Marie Curie's average grade is: 73.25
Grace Hopper's average grade is: 78.5
Alan Turing's average grade is: 81.5
Rosalind Franklin's average grade is: 80.75
Elizabeth Blackwell's average grade is: 84.5
Rene Descartes's average grade is: 88.75
Ahmed Zewail's average grade is: 88.75
Chien-Shiung Wu's average grade is: 82.5
William Sanford Nye's average grade is: 81.5
Carl Sagan's average grade is: 91.0
Jane Goodall's average grade is: 79.0
Richard Feynman's average grade is: 89.0

### 6. How many pets does each student have?

In [8]:
for student in students:
    print(f"{student['student']} has {len(student['pets'])} pets.")

Ada Lovelace has 1 pets.
Thomas Bayes has 0 pets.
Marie Curie has 1 pets.
Grace Hopper has 2 pets.
Alan Turing has 3 pets.
Rosalind Franklin has 0 pets.
Elizabeth Blackwell has 1 pets.
Rene Descartes has 2 pets.
Ahmed Zewail has 2 pets.
Chien-Shiung Wu has 1 pets.
William Sanford Nye has 2 pets.
Carl Sagan has 1 pets.
Jane Goodall has 1 pets.
Richard Feynman has 1 pets.

### 7. How many students are in web development? data science?

In [9]:
web_dev_total = 0
data_science_total = 0
for student in students:
    if student['course'] == 'web development':
        web_dev_total += 1
    elif student['course'] == 'data science':
        data_science_total += 1
print(f"Web development has {web_dev_total} students. \nData science has {data_science_total} students")

Web development has 7 students.
Data science has 7 students

### 8. What is the average number of pets for students in web development?

In [10]:
web_dev_pets = []
for student in students:
    if student['course'] == 'web development':
        web_dev_pets.append(student['pets'])

total_web_dev_pets = 0
for student in web_dev_pets:
    total_web_dev_pets += len(student)
average_web_dev_pets = total_web_dev_pets / web_dev_total
print(average_web_dev_pets)
print(round(average_web_dev_pets))

1.2857142857142858
1

### 9. What is the average pet age for students in data science?

In [27]:
data_sci_pets = []
for student in students:
    if student['course'] == 'data science':
        data_sci_pets.append(student['pets'])
data_sci_pets = [pets for pets in data_sci_pets if pets != []]

total_age = 0
total_pets = 0
for student in data_sci_pets:
    for pet in student:
        total_age += pet['age']
        total_pets += 1
average_age = total_age / total_pets
average_age

5.444444444444445

### 10. What is most frequent coffee preference for data science students?

In [32]:
data_science_coffee = []
for student in students:
    if student['course'] == 'data science':
        data_science_coffee.append(student['coffee_preference'])
data_science_coffee

ds_light_total = 0
ds_medium_total = 0
ds_dark_total = 0
for coffee in data_science_coffee:
    if coffee == 'light':
        ds_light_total += 1
    elif coffee == 'medium':
        ds_medium_total += 1
    else:
        ds_dark_total += 1
ds_coffee_totals = {'light':ds_light_total, 'medium':ds_medium_total, 'dark':ds_dark_total}
ds_coffee_totals

{'light': 0, 'medium': 4, 'dark': 3}

### 11. What is the least frequent coffee preference for web development students?

In [34]:
web_development_coffee = []
for student in students:
    if student['course'] == 'web development':
        web_development_coffee.append(student['coffee_preference'])

wd_light_total = 0
wd_medium_total = 0
wd_dark_total = 0
for coffee in web_development_coffee:
    if coffee == 'light':
        wd_light_total += 1
    elif coffee == 'medium':
        wd_medium_total += 1
    else:
        wd_dark_total += 1
wd_coffee_totals = {'light':wd_light_total, 'medium':wd_medium_total, 'dark':wd_dark_total}
wd_coffee_totals

{'light': 3, 'medium': 2, 'dark': 2}

### 12. What is the average grade for students with at least 2 pets?

In [44]:
students_with_at_least_two_pets = []
for student in students:
    if len(student['pets']) >= 2:
        students_with_at_least_two_pets.append(student)
        
grades_for_students_with_at_least_two_pets = []
for student in students_with_at_least_two_pets:
    grades_for_students_with_at_least_two_pets.append(student['grades'])

grades_for_students_with_at_least_two_pets
grade_total = 0
for student in grades_for_students_with_at_least_two_pets:
    for grade in student:
        grade_total += grade
average_grade_for_students_with_two_pets = grade_total / len(grades_for_students_with_at_least_two_pets)
average_grade_for_students_with_two_pets

335.2